body{
    overflow-x: hidden;
}
.menu{
    margin: 10px;
}
p{
    padding: 0;
    margin: 0;
}
.tableContent{
    margin:auto;
    width: 100%;
}
.ButtonAksi{
    margin: 10px;
    
}
tr, td {
    padding: 3px;
}
.addButton{
    margin-bottom: 10px;
}
.custom-dropdown .dropdown-toggle::after {
    display: none; 
}

.custom-dropdown .dropdown-menu {
    border: none; /* Menghilangkan border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Menambahkan shadow */
    padding: 10px; /* Padding isi dropdown */
}

@media only screen and (max-width: 1024px) {
    h6{
        font-size: 12px;
    }
    p{
        font-size: 10px;
        padding: 0;
        margin: 0;
    }
    .tableContent{
        margin:auto;
    }
    tr, td {
        padding: 2px;
    }
    .addButton{
        margin-bottom: 7px;
    }
    .isiKontenArtikel{
        width: 10%;
    }
    .editProfile{
        width: 100%
    }
}
